.new-arrival {
	display: flex;
	flex-direction: column;
	background-color: #f4f5f7;
}

.new-arrival-headline h2 {
	font-family: "Open Sans", sans-serif;
	font-size: 36px;
	font-weight: 600;
	line-height: 49.03px;
	text-align: center;
	padding-top: 47px;
}

.new-arrival-card-container {
	display: flex;
	justify-content: center;
	gap: 50px;
	padding: 74px 1rem 34px; 
}

.new-arrival-card-image img {
	width: 365px;
	height: 496px;
	object-fit: cover;
	display: block;
}

.new-arrival-card-info {
	padding-left: 40px;
	padding-top: 16px;
}

.card-colors-text {
	font-family: "Open Sans", sans-serif;
	font-size: 12px;
	font-weight: 600;
	line-height: 16.34px;
	color: #848484;
	text-transform: uppercase;
}

.card-products-name {
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	font-weight: 600;
	line-height: 19.07px;
	color: #000000;
}

@media (max-width: 1200px) {
	.new-arrival-card-container {
		gap: 30px;
	}

	.new-arrival-card-image img {
		width: 280px; 
		height: 496px;
	}
}

@media (max-width: 768px) {
	.new-arrival-card-container {
		flex-direction: column;
		align-items: center;
		gap: 50px;
	}

	.new-arrival-card-image img {
		width: 100%;
		max-width: 365px; 
		height: auto; 
		aspect-ratio: 365 / 496;
	}

	.new-arrival-card-info {
		padding-left: 0;
		text-align: center;
	}
}
